.parking-lot-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

.parking-lot-item-container {
  width: 20rem;
  box-shadow: 0 0 10px rgba(155, 155, 155, 0.3);
  border-radius: 12px;
  padding: 1rem;
  text-align: left;
  user-select: none;
}

.parking-lot-item-container:active {
  box-shadow: 0 0 10px rgba(155,155,155, 0.7);
}

@media (max-width: 600px) {
  .parking-lot-item-container {
    max-width: 100%;
    overflow: scroll;
  }
}

.parking-lot-item-anchor {
  color: gold;
}

.parking-lot-item-anchor:hover {
  text-decoration: none;
}

.parking-lot-item-anchor:visited {
  color: goldenrod;
} 

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: darkred;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}